<p>
    <mat-toolbar color="primary">
        <a mat-button href="/"><i class="material-icons" mat-icon-button>home</i></a>
        <span>Email Counts</span>
        <span class="example-spacer"></span>
        <div>
            <a mat-button href="/counts">Counts</a>
        </div>
        <div>
            <a mat-button href="/recipients-summary">Recipients Summary</a>
        </div>
        <div>
            <a mat-button href="/exclusions-summary">Exclusions Summary</a>
        </div>
    </mat-toolbar>
</p>